[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/

Assets/Plugins/
Assets/Procedural Worlds/
Assets/UnityAssets/
Assets/**/ThirdParty/
Assets/**/Third_Party/

venv/
.venv/
venv/lib/
.venv/lib/
venv/**/*.dll
.venv/**/*.dll

.idea/
*.sln
*.suo
*.user
*.userprefs

sysinfo.txt
*.stacktrace

.DS_Store
Thumbs.db

*.mp4
*.wav
*.mp3
*.mov
*.psd
*.tga
*.fbx
*.dds
*.tiff
*.ogg

*.exe
*.dll
*.pdb
*.lib

*.bin
*.dat
